body { 
    background-color: #f0f8ff;
    font-family: sans-serif;

h1 {
    color: #2c3e50;
    text-align: center;

}

button {
    background-color: #3498db; /* Um azul mais vivo */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
}